<div class="bar bar-header">
  <button class="button button-icon icon ion-android-arrow-back" ng-click="goBack()"></button>
  <div class="h1 title">Edit Password</div>
  <!-- <button class="button button-clear button-positive">Edit</button> -->
</div>
<ion-content class="has-header has-footer">
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Name</span>
      <input type="text" placeholder="Gmail" ng-model="password.name">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Email/Username</span>
      <input type="text" placeholder="john@gmail.com" ng-model="password.email">
    </label>
    <div class="item item-input item-stacked-label item-icon-right">
      <span class="input-label">Password</span>
      <i class="icon ion-eye" ng-click="togglePassword()"></i>
      <input type="{{password_input_type}}" placeholder="Suhr" ng-model="password.password">
    </div>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Note</span>
      <textarea style="height:200px" type="text" placeholder="John's Gmail Password" ng-model="password.note"></textarea>
    </label>
  </div>
</ion-content>

<div class="bar bar-footer bar-balanced" ng-click="savePassword()">
  <div class="title">Save Password</div>
</div>
