<div class="bar bar-header bar-calm">
  <button class="button button-icon icon ion-android-arrow-back" ng-click="goBack()"></button>
  <div class="h1 title" ng-if="!edit_mode">Add Note</div>
  <div class="h1 title" ng-if="edit_mode">Edit Note</div>
  <!-- <button class="button button-clear button-positive">Edit</button> -->
  <button ng-if="edit_mode" class="button button-icon icon ion-trash-b" ng-click="deleteNote()"></button>
</div>
<ion-content class="has-header has-footer">
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Name</span>
      <input type="text" placeholder="Gmail" ng-model="note.name">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Note</span>
      <textarea name="name" rows="8" cols="40" placeholder="john@gmail.com" ng-model="note.note"></textarea>
    </label>
  </div>
</ion-content>

<div class="bar bar-footer bar-calm" ng-click="saveNote()">
  <div class="title">Save Note</div>
</div>
