<div class="bar bar-header bar-calm">
  <button class="button button-icon icon ion-navicon" menu-toggle></button>
  <div class="h1 title">Dashboard</div>
  <!-- <button class="button button-clear button-positive">Edit</button> -->
</div>

<ion-content class="padding has-header">

  <a style="display: block;width: 175px;margin: 0 auto 10px;" class="button button-outline icon-left ion-asterisk button-calm" ng-click="gotoPasswordsList()">
    <span ng-bind="user.passwords"></span> Password(s)
  </a>

  <a style="display: block;width: 175px;margin: 0 auto 10px;" class="button button-outline icon-left ion-document-text button-calm" ng-click="gotoNotesList()">
    <span ng-bind="user.notes"></span> Note(s)
  </a>


  <!-- timer <span ng-bind="timer_count"></span> -->
</ion-content>
