<ion-slide-box style="height:93%" on-slide-changed="slideChanged($index)" class="text-center">
  <ion-slide style="background-color:#11c1f3;">
    <div class="padding">
      <h4>Use one password to manage all secure information</h4>
      <img class="intro-img" src="img/android_blank.png" alt="" />
    </div>
  </ion-slide>
  <ion-slide style="background-color:#11c1f3;">
    <div class="padding">
      <h4>Store all your passwords and secure notes to access them from anywhere</h4>
      <img class="intro-img" src="img/android_blank.png" alt="" />
    </div>
  </ion-slide>
  <ion-slide style="background-color:#11c1f3;">

    <div class="padding">
      <h4>Your data is automatically synced to the cloud</h4>
      <img class="intro-img" src="img/android_blank.png" alt="" />
    </div>
  </ion-slide>
</ion-slide-box>

<ion-footer-bar align-title="center" class="bar-dark">
  <div class="buttons">
    <button style="font-size: 1.3em !important;" class="button" ng-if="slideIndex !== 0" ng-click="previousSlide()">Previous</button>
  </div>
  <h1 class="title" ng-click="skipIntro()">Skip</h1>
  <div class="buttons">
    <button style="font-size: 1.3em !important;" class="button" ng-click="nextSlide()" ng-if="slideIndex != 2">Next</button>
    <button style="font-size: 1.3em !important;" class="button" ng-click="getStarted()" ng-if="slideIndex == 2">Get Started</button>
  </div>
</ion-footer-bar>
