<div class="bar bar-header">
  <button class="button button-icon icon ion-navicon" menu-toggle></button>
  <div class="h1 title">Password Generator</div>
  <!-- <button class="button button-clear button-positive">Edit</button> -->
</div>

<ion-content class="has-header">

  Password:
  <label ng-bind="password.value"></label>

  <i class="icon ion-refresh" ng-click="generatePassword()"></i>
  <i class="icon ion-clipboard" ng-click="copyToClipboard()"></i>


  <div class="item range range-assertive">
    Length
    <!-- <i class="icon ion-volume-low"></i> -->
    <input type="range" ng-change="generatePassword()" ng-model="password.password_length" min="6" max="20" name="length">
    <!-- <i class="icon ion-volume-high"></i> -->
    <span ng-bind="password.password_length"></span>
  </div>

  <ion-toggle ng-model="password.letters" ng-change="generatePassword()" toggle-class="toggle-positive">Letters</ion-toggle>
  <ion-toggle ng-model="password.digits" ng-change="generatePassword()" toggle-class="toggle-energized">Digits</ion-toggle>
  <ion-toggle ng-model="password.symbols" ng-change="generatePassword()" toggle-class="toggle-assertive">Symbols</ion-toggle>

</ion-content>
