<div class="bar bar-header bar-calm">
  <button class="button button-icon icon ion-navicon" menu-toggle></button>
  <div class="h1 title">Passwords</div>
  <!-- <button class="button button-clear button-positive">Edit</button> -->
</div>

<ion-floating-button click="gotoAddPassword()" has-footer="false" button-color="#11c1f3" icon="ion-plus" iconColor="#fff">
</ion-floating-button>

<ion-content class="has-header">

  <div class="list list-inset">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search Passwords..." ng-model="search">
    </label>
  </div>

  <div ng-repeat="letter in letters | filter: search.charAt(0)" ng-show="showLetterGroup(letter)">
    <div class="item item-divider" ng-bind="letter">
      A
    </div>
    <div class="list" ng-repeat="password in passwords | filter: {'doc': {'name': search}}" ng-if="password.doc.name.charAt(0).toUpperCase() == letter">
      <a href="" class="item" ng-click="gotoViewPassword(password.doc._id)">
        <!-- <i class="icon ion-chevron-right"></i> -->
        <span ng-bind="password.doc.name"></span>
      </a>
    </div>
  </div>


  <!-- <ion-item ng-click="gotoViewPassword(password.doc._id)" auto-list-divider auto-list-divider-value="{{password.doc.name}}" ng-repeat="password in passwords | filter:search" ng-bind="password.doc.name"></ion-item> -->

  <div class="card" ng-if="passwords.length === 0">
    <ion-item>No Passwords</ion-item>
  </div>

</ion-content>
