<div class="bar bar-header">
  <button class="button button-icon icon ion-navicon" menu-toggle></button>
  <div class="h1 title">Passwords</div>
  <!-- <button class="button button-clear button-positive">Edit</button> -->
</div>

<ion-content class="has-header has-footer">
  <div ng-repeat="letter in letters">
    <div class="item item-divider" ng-bind="letter">
      A
    </div>
    <div class="list card" ng-repeat="password in passwords" ng-if="password.doc.name.charAt(0).toUpperCase() == letter">
      <a href="" class="item item-icon-left" ng-click="gotoViewPassword(password.doc._id)">
        <i class="icon ion-home"></i>
        <span ng-bind="password.doc.name"></span>
      </a>
    </div>

  </div>


</ion-content>

<div class="bar bar-footer bar-balanced" ng-click="gotoAddPassword()">
  <div class="title">Add Password</div>
</div>
