<ion-content>
  <div class="padding">
    <form name="myForm">

      <img src="img/icon.png" style="width: 100px;margin: 0 auto;display: block;" alt="" />
      <h3 class="text-center">Register</h3>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="email" ng-model="user.email" placeholder="Email" required>
        </label>
        <label class="item item-input">
          <input type="password" ng-model="user.password" ng-minlength="6" placeholder="Master Password" required>
        </label>

        <label class="item item-input">
          <input type="password" ng-model="user.confirm_password" ng-minlength="6" placeholder="Confirm Master Password" required>
        </label>

        <button ng-disabled="myForm.$pristine || myForm.$invalid" ng-click="register()" class="button button-block button-calm" >
          Register
        </button>

        <a style="margin: 0 auto;display: block;" class="text-center" href="" ng-click="gotoLogin()">Already a user?</a>
      </div>
    </form>
  </div>
</ion-content>
