<form name="myForm">
  <h2 class="text-center">Register</h2>
  <div class="list list-inset">
    <label class="item item-input">
      <input type="email" ng-model="user.email" placeholder="Email" required>
    </label>
    <label class="item item-input">
      <input type="password" ng-model="user.password" ng-minlength="6" placeholder="Master Password" required>
    </label>

    <label class="item item-input">
      <input type="password" ng-model="user.confirm_password" ng-minlength="6" placeholder="Confirm Master Password" required>
    </label>

    <button ng-disabled="myForm.$pristine || myForm.$invalid" ng-click="register()" class="button button-block button-positive" >
      Register
    </button>

    <a href="" class="text-center" ng-click="gotoLogin()">Already a user?</a>
  </div>
</form>
