<div class="bar bar-header bar-calm">
  <button class="button button-icon icon ion-android-arrow-back" ng-click="goBack()"></button>
  <div class="h1 title" ng-bind="note.name"></div>
  <!-- <button class="button button-clear button-positive">Edit</button> -->
</div>

<ion-content class="has-header has-footer">
  <div class="list card">
    <a href="" class="item item-icon-left">
      <i class="icon ion-home"></i>
      Name: <span ng-bind="note.name"></span>
    </a>

    <a href="" class="item item-icon-left">
      <i class="icon ion-ios-list-outline"></i>
      Note: <span ng-bind="note.note"></span>
    </a>
  </div>
</ion-content>


<div class="bar bar-footer bar-calm" ng-click="gotoUpdateNote(note._id)">
  <div class="title">Edit Note</div>
</div>
