<div class="bar bar-header">
  <button class="button button-icon icon ion-android-arrow-back" ng-click="goBack()"></button>
  <div class="h1 title" ng-bind="password.name"></div>
  <!-- <button class="button button-clear button-positive">Edit</button> -->
</div>

<ion-content class="has-header has-footer">
  <div class="list card">
    <a href="" class="item item-icon-left">
      <i class="icon ion-home"></i>
      Name: <span ng-bind="password.name"></span>
    </a>

    <a href="" class="item item-icon-left">
      <i class="icon ion-home"></i>
      Email: <span ng-bind="password.email"></span>
    </a>

    <a href="" class="item item-icon-left item-icon-right">
      <i class="icon ion-asterisk"></i>
      Password:
      <span ng-show="show_password" ng-bind="password.password"></span>
      <span ng-hide="show_password">**********</span>
      <i class="icon ion-eye" ng-click="togglePassword()"></i>
    </a>

    <a href="" class="item item-icon-left">
      <i class="icon ion-ios-list-outline"></i>
      Note: <span ng-bind="password.note"></span>
    </a>
  </div>
</ion-content>


<div class="bar bar-footer bar-balanced" ng-click="gotoUpdatePassword(password._id)">
  <div class="title">Edit Password</div>
</div>
